[user]
	name = Mk9
	email = m.k@ngs.ru
[i18n]
	logoutputencoding = cp866
	commitencoding = cp1251
[core]
	quotepath = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
